<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" ng-app="brainApp" >
    <head>
    
    	<th:block th:include="layout/mainLayout :: pageheader" />
		<script th:src="@{/js/index.js}"></script>
    </head>
    <body ng-controller="BodyController">
        <header th:replace="layout/mainLayout :: header" ></header>
        <div th:replace="layout/mainLayout :: breadcrumb" ></div>
       	<div th:replace="layout/mainLayout :: leftToolbar" ></div>

		<div class="floatLeft page-content" >
			
			<h1 th:text="#{accounts.accountupdate}"></h1>
			<br><br>        			
        	<table class="table table-striped table-bordered detail-view">
        		<tr>
        			<th th:text="#{accounts.accountName}"></th>
        			<td th:text="${acc.getAccountName()}"></td>
        		</tr>
        		<tr>
        			<th th:text="#{accounts.comments}"></th>
        			<td th:text="${acc.getComments()}"></td>
        		</tr>
        		<tr>
        			<th th:text="#{accounts.status}"></th>
        			<td th:text="${acc.getStatusLabel()}"></td>
        		</tr>
        		<tr>
        			<th th:text="#{accounts.created}"></th>
        			<td th:text="${acc.getCreatedString()}"></td>
        		</tr>
        	</table>	
			
			
		</div>


		<th:block th:include="layout/mainLayout :: footer" />
     </body>
</html>
