<!DOCTYPE html>
<html>
    <head th:fragment="pageheader">
        <title tiles:fragment="title">MDM UI ...</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        
        <link th:href="@{/css/app.css}" rel="stylesheet" />
        <link th:href="@{/angular/angular-material.min.css}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>

		<script th:src="@{/js/moment.js}"></script>

		<script th:src="@{/angular/angular.min.js}"></script>		
		<script th:src="@{/angular/angular-animate.min.js}"></script>
		<script th:src="@{/angular/angular-aria.min.js}"></script>
		<script th:src="@{/angular/angular-messages.min.js}"></script>
		<script th:src="@{/angular/angular-material.min.js}"></script>
   
   
        <link rel="stylesheet" th:href="@{/css/ng-table.min.css}">
		<script th:src="@{/js/ng-table.js}"></script>

		<link rel="stylesheet" type="text/css" th:href="@{/css/angular-material-accordion.css}">
		<script type="text/javascript" th:src="@{/js/angular-material-accordion.js}"></script>

		<script th:src="@{/js/app.js}"></script>
		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		
    </head>
    <body ng-controller="BodyController">
        
        <header th:fragment="header">
			<nav class="navbar navbar-default" th:fragment="navbar">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="/"><img class="logo" th:src="@{/images/logo.png}" /></a>
			    </div>
			    
			    <div class="navbar navbar-nav">
					<md-menu-bar>
					 <md-menu ng-repeat="menu in menulist" ng-if="menu.status == 1">
					   <a href="{{menu.url}}" ng-click="((menu.childs.length > 0) && $mdOpenMenu())" >
					     <span ng-if="menu.image != ''" class="{{menu.image}} menu-image"></span>&nbsp;<span class="menu-label">{{menu.label}}</span>
					   </a>
					   
					   <md-menu-content>
					   		<md-menu-item class="submenu" ng-repeat="submenu in menu.childs"   >
						   		<a href="{{submenu.url}}">
									<span ng-if="submenu.image != ''" class="{{submenu.image}} menu-image"></span>&nbsp;<span class="menu-label submenu">{{submenu.label}}</span>
								</a>
							</md-menu-item>
					   </md-menu-content>
					 </md-menu>
					</md-menu-bar>			    
			    </div>	    
       			    
			    <div class="navbar-user-detail">
			      <div class="user-detail dropdown"> 
					<md-button ng-click="toggleRight()" style="background-color:#cecece;">
			      		<span>User, User</span>
			      		<span class="glyphicon glyphicon-user"></span>
					</md-button>
			      </div>
			    </div>
			    
			  </div>
			</nav>        
			<md-sidenav md-component-id="rightSidenav" class="md-sidenav-right">
				<md-list ng-cloak>
					<md-subheader class="md-no-sticky">Benutzer Actionen!</md-subheader>
					<md-list-item class="secondary-button-padding">
					    <a href="#"><span class="glyphicon glyphicon-lock"></span>Passwort Änderung</a>
					</md-list-item>					
					<md-divider></md-divider>					
					<md-list-item class="secondary-button-padding">
					    <a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
					</md-list-item>
				</md-list>	
				
	            <md-button class="md-raised md-primary close-right-menu" ng-click="closeSideRight()">Schließen</md-button>
	        </md-sidenav>
        </header>
		<div th:fragment="breadcrumb" style="background-color: #eeeeee;">
			 <ul class="breadcrumb" >
			     <li th:each="entry : ${breadCrumb}">
			         <a th:href="${entry.getUrl()}" th:if="${entry.isLink()}" th:text="${entry.getLabel()}">Home</a>
			         <span th:if="${!entry.isLink()}" th:text="${entry.getLabel()}">Home</span>
			     </li>
			 </ul>			
		</div>
 
        <footer th:fragment="footer">
        	<div ng-show="showloading == true" class="loading" style=""></div>
        </footer>
    </body>
</html>