<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" ng-app="mdmApp" >
    <head>
    
    	<th:block th:include="layout/mainLayout :: pageheader" />
		<script th:src="@{/js/index.js}"></script>
    </head>
    <body ng-controller="BodyController">
        <header th:replace="layout/mainLayout :: header" ></header>
        <div th:replace="layout/mainLayout :: breadcrumb" ></div>
       	<div th:replace="layout/mainLayout :: leftToolbar" ></div>


		<div class="floatLeft page-content" >
			<h1>changepassword</h1>
		</div>
		
		<th:block th:include="layout/mainLayout :: footer" />
    </body>
</html>
